*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: lightgray
    
}

h1, button{
    text-align: center;
    margin: 10px;
}


h1{
    font-size: 100px;
    color: mediumseagreen;
}



input[type=text], button{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    border-radius: 5px;
    display: inline-block;
    
}

input[type=text]{
    background: #bebaba;
}

button{
    background-color: mediumseagreen;
    color: #fff;
}

.btn-submit, .btn-cancel{
    width: 20%;
    margin: 5px;
}

.container2{
    width: 50%;
    margin: 50px;
    align-items: center;
    justify-content: center;
}

.btn-cancel{
    background-color: rgb(231, 15, 15);
}

.btn-cancel:hover{
    background-color: rgb(95, 5, 5);
    color: rgb(243, 235, 235);
    transition: 0.2s;
}

.header-txt{
    text-align: center;
    color: mediumseagreen;
}

.btn-submit:hover{
    background-color: rgb(19, 70, 42);
    transition: 0.2s;
}

