*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    text-align: center;
    
    
}


h1, button{
    text-align: center;
    /* margin: 10px;*/
} 


h1{
    font-size: 80px;
    color: mediumseagreen;
    margin-bottom: 10px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-txt{
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}



.signup{
    width: 20%;
    
}


input, button{
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    border-radius: 5px;
    display: inline-block;
    
}

input{
    background-color: #bebaba;
}

input:focus{
    background: #918e8e;
}



button{
    background-color: mediumseagreen;
    color: #fff;
}


.btn-login, .btn-submit, .btn-logins{
  width: 20%; 
  
}
.btn-login, .btn-logins{
    background-color: rgb(224, 153, 19);
}
.btn-login, .btn-logins:hover{
    background-color: rgb(207, 166, 90);
    transition: 0.5s;
}

.btn-submit, .signup:hover{
    background-color: rgb(110, 172, 138);
    transition: 0.5s;
}

.btn-submit, .btn-login:hover{
    transition: 0.5s;
}

.login, .signup-link{
    color: white;
    text-decoration: none;
}

.login:hover{
    color: mediumseagreen;
}

label{
    margin-right: 41%;
    font-family: Arial, Helvetica, sans-serif;
}